.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height : 100vh;
}

img{
   display: block;
   width : 350px; 
   margin-bottom: 15px; 
}

input{
    display: block;
    width: 500px;
    line-height: 25px;
    padding : 10px 20px;
    border: 1px solid #696969b6;
    border-radius: 30px;
    margin-bottom: 20px;
}

.btn{
    padding: 8px 16px;
    background: #dfe1e5;
    border: none;
    margin: 4px;
    border-radius: 4px;
}


